<form action="{{ action }}" method="post" id="payment">
 {{ form }}
  <div class="buttons">
    <div class="pull-right">
    <a onclick="$('#payment').submit();" class="btn btn-primary">{{ button_confirm }}</a>
    </div>
  </div>
</form>
